@model FransfordSystem.Models.Descripcion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
              
<h4>Descripcion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idExamen" class="control-label"></label>
                <select asp-for="idExamen" class="form-control" asp-items="@(new SelectList(@ViewBag.examenDeLista, "idExamen", "nombreExamen"))"></select>
                <!--<input asp-for="idExamen" class="form-control" />
                <span asp-validation-for="idExamen" class="text-danger"></span>-->
            </div>
            <div class="form-group">
                <label asp-for="descripcionExamen" class="control-label"></label>
                <input asp-for="descripcionExamen" class="form-control" />
                <span asp-validation-for="descripcionExamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label><input type="checkbox" name="check" id="cbox1"> Posee valores de referencia</label><br>
         
            </div>
            <div class="form-group" >
                <label asp-for="valorMinimo" class="control-label"></label>
                <input asp-for="valorMinimo" class="form-control" disabled />
                <span asp-validation-for="valorMinimo" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="valorMaximo" class="control-label"></label>
                <input asp-for="valorMaximo" class="form-control" disabled />
                <span asp-validation-for="valorMaximo" class="text-danger"></span>
            </div>
              
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
             <script type="text/javascript">
                    let opcion = document.getElementById("cbox1")
                    let caja1   = document.getElementById("valorMinimo")
                    let caja2   = document.getElementById("valorMaximo")
                    opcion.addEventListener("change", validaCheckbox, false);
                    function validaCheckbox()
                    {
                        let checked = opcion.checked;
                        if (checked) {                         
                            caja1.disabled = false
                            caja2.disabled = false
                        } else { 
                             caja1.disabled = true   
                             caja2.disabled = true
                        }

                    }                   
                </script>
}
