@model FransfordSystem.Models.Descripcion

@{
    ViewData["Title"] = "Edit";
}

<<<<<<< HEAD
<h1>Editar Descripción</h1>

=======
<h1>Editar datos de las descripciones de los examenes</h1>

<h4>Modifique uno o varios campos de la descripcion del examen</h4>
>>>>>>> 40a059019cf52502140f4dad8057d484a434617a
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idDescripcion" />
            <div class="form-group">
                <label asp-for="idExamen" class="control-label"></label>
                <input asp-for="idExamen" class="form-control" />
                <span asp-validation-for="idExamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcionExamen" class="control-label"></label>
                <input asp-for="descripcionExamen" class="form-control" />
                <span asp-validation-for="descripcionExamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorMinimo" class="control-label"></label>
                <input asp-for="valorMinimo" class="form-control" />
                <span asp-validation-for="valorMinimo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorMaximo" class="control-label"></label>
                <input asp-for="valorMaximo" class="form-control" />
                <span asp-validation-for="valorMaximo" class="text-danger"></span>
            </div>
            <div class="form-group">
<<<<<<< HEAD
                <input type="submit" value="Guardar" class="btn btn-primary" />
=======
                <input type="submit" value="Guardar" class="btn btn-success" />
>>>>>>> 40a059019cf52502140f4dad8057d484a434617a
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-route-id="@Model.idExamen"   asp-action="Filtrado">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
