<div class="service-single text-center">
    
    <img src="/dist/img/En proceso.png" alt="image of service" width="700" height="400"/>
    <br />
    <br />
    <h1>Este Examen no posee descripción</h1>
    <a asp-action="Create">Agregar</a>
    <br />
    <a asp-controller="Examenes" asp-action="Index">Volver a la lista</a>
    
</div>
