@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<section class="content">
	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Cita.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-controller="Home"  asp-action="Desarrollo">Agendar cita</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
        <div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Informe.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-controller="Home"  asp-action="Desarrollo">Informe</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
        <div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Cliente.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-action="IndexCliente">Cliente</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
        <div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Examen.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-action="IndexExamen">Examen</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
		<div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Reporte.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-controller="Home"  asp-action="Desarrollo">Reporte</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
		<div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Inventario.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-controller="Home"  asp-action="Desarrollo">Inventario</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
		<div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Trabajador.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-action="IndexUsuario">Usuario</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
		<div class="col-sm-4 col-xs-12">
			<div class="service-single text-center">
				<div class="service-img">
					<img src="/dist/img/Venta.png" alt="image of service" width="100" height="100"/>
				</div><!--/.service-img-->
				<div class="service-txt">
					<h2>
						<a asp-controller="Home"  asp-action="Desarrollo">Venta</a>
					</h2>
				</div><!--/.service-txt-->
			</div><!--/.service-single-->
		</div><!--/.col-->
	</div><!--/.row-->
</section>