@model FransfordSystem.Models.Trabajador

@{
    ViewData["Title"] = "Crear";
}

<h1>Registrar nuevo trabajor</h1>

<h4>Rellenar la siguiente información</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreTrabajador" class="control-label"></label>
                <input asp-for="nombreTrabajador" class="form-control" placeholder="Jose Alejandro"/>
                <span asp-validation-for="nombreTrabajador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apellidoTrabajador" class="control-label"></label>
                <input asp-for="apellidoTrabajador" class="form-control" placeholder="Martinez Torres"/>
                <span asp-validation-for="apellidoTrabajador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label"></label>
                <input asp-for="fechaNacimiento" class="form-control"/>
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero" class="control-label"></label>
                <br />               
                <input asp-for="genero" type="radio" value="Masculino" />&nbsp;&nbsp;&nbsp; Masculino               
                <br />
                <input asp-for="genero" type="radio" value="Femenino" />&nbsp;&nbsp;&nbsp; Femenino
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dui" class="control-label"></label>
                <input asp-for="dui" class="form-control" placeholder="45210376-8"/>
                <span asp-validation-for="dui" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" placeholder="example@gmail.com"/>
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cuentaBancaria" class="control-label"></label>
                <input asp-for="cuentaBancaria" class="form-control" placeholder="4357601235"/>
                <span asp-validation-for="cuentaBancaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
