@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Registrar Nuevo Trabajador.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <label > Correo </label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <label > Contraseña </label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <label > Repetir Contraseña </label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <!--   
            <div class="form-floating">
                <label > Nombre </label>
                <input asp-for="Input.nombreTrabajador" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.nombreTrabajador" class="text-danger"></span>
            </div>
              <div class="form-floating">
                <label > Apellido </label>
                <input asp-for="Input.apellidoTrabajador" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.apellidoTrabajador" class="text-danger"></span>
            </div>
              <div class="form-floating">
                <label > Fecha Nacimiento </label>
                <input asp-for="Input.fechaNacimiento" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.fechaNacimiento" class="text-danger"></span>
            </div>
              <div class="form-floating">
                <label > Genero </label>
                <input asp-for="Input.genero" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.genero" class="text-danger"></span>
            </div>
              <div class="form-floating">
                <label > DUI </label>
                <input asp-for="Input.dui" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.dui" class="text-danger"></span>
            </div>
              <div class="form-floating">
                <label > Cuenta Bancaria </label>
                <input asp-for="Input.cuentaBancaria" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.cuentaBancaria" class="text-danger"></span>
            </div>

            <div class="form-floating">
                <label > Nombre de Usuario </label>
                <input asp-for="Input.nombreUsuario" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            -->



            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
